In [21]:
import pandas as pd
import os
import plotly.express as px

In [153]:
# ------------------------------------------------------------------------------
# Import and clean data (importing csv into pandas)
df = pd.read_csv("../data/Analysis/Baseball_results.csv", parse_dates=['Datetime'],date_parser=lambda col: pd.to_datetime(col, utc=True), index_col='Datetime')
dff =df.copy()

In [154]:
df

                           Actual  Predicted  obs_ci_lower  obs_ci_upper
Datetime
2015-01-01 00:00:00-05:00     4.0  14.505092      2.790741     26.219442
2015-01-01 01:00:00-05:00     4.0  15.224404      3.510729     26.938079
2015-01-01 02:00:00-05:00     5.0  14.386070      2.672777     26.099362
2015-01-01 03:00:00-05:00    10.0  15.153938      3.440976     26.866901
2015-01-01 04:00:00-05:00     9.0  16.164925      4.451676     27.878173
...                           ...        ...           ...           ...
2020-11-12 19:00:00-05:00     4.0  44.979990     33.158411     56.801570
2020-11-12 20:00:00-05:00     4.0  44.989545     33.169542     56.809549
2020-11-12 21:00:00-05:00     3.0  40.215491     28.395390     52.035593
2020-11-12 22:00:00-05:00     4.0  39.499014     27.679140     51.318889
2020-11-12 23:00:00-05:00     2.0  38.938586     27.118702     50.758471

[50654 rows x 4 columns]

In [159]:
df.resample('Y').sum()

,Actual,Predicted,obs_ci_lower,obs_ci_upper
Datetime,,,,
2015-12-31 00:00:00+00:00,122502.0,118801.191825,17377.580231,220224.803420
2016-12-31 00:00:00+00:00,135578.0,139186.470534,37748.918587,240624.022481
2017-12-31 00:00:00+00:00,133592.0,143558.163191,42319.670500,244796.655881
2018-12-31 00:00:00+00:00,160091.0,144020.965210,43941.884936,244100.045484
2019-12-31 00:00:00+00:00,123158.0,129350.970302,28213.390785,230488.549819
2020-12-31 00:00:00+00:00,92661.0,263828.147711,175336.831122,352319.464300

In [131]:
df.index.dtype = pd.

Index([2015-01-01 00:00:00-05:00, 2015-01-01 01:00:00-05:00,
       2015-01-01 02:00:00-05:00, 2015-01-01 03:00:00-05:00,
       2015-01-01 04:00:00-05:00, 2015-01-01 05:00:00-05:00,
       2015-01-01 06:00:00-05:00, 2015-01-01 07:00:00-05:00,
       2015-01-01 08:00:00-05:00, 2015-01-01 09:00:00-05:00,
       ...
       2020-11-12 14:00:00-05:00, 2020-11-12 15:00:00-05:00,
       2020-11-12 16:00:00-05:00, 2020-11-12 17:00:00-05:00,
       2020-11-12 18:00:00-05:00, 2020-11-12 19:00:00-05:00,
       2020-11-12 20:00:00-05:00, 2020-11-12 21:00:00-05:00,
       2020-11-12 22:00:00-05:00, 2020-11-12 23:00:00-05:00],
      dtype='object', length=50654)

In [103]:
df.index[0]

datetime.datetime(2015, 1, 1, 0, 0, tzinfo=tzoffset(None, -18000))

In [ ]:
df2 = df.set_index(['Datetime'])

In [ ]:
df2

In [ ]:
type(df2.index)

In [ ]:
df2.index  = df2.index.DatetimeIndex()

In [ ]:
df2

In [ ]:
df2.resample('M')

In [ ]:

fig = px.scatter(x=df['Datetime'].resample('Q').sum(),
                 y=df['Actual'],
                 # hover_name=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name']
                 )

fig.show()

In [ ]:
df2

In [ ]:
df2.index  = df2.index.DatetimeIndex()

In [ ]:
df2

In [ ]:
df2.resample('M')

In [79]:

fig = px.scatter(x=df['Datetime'].resample('Q').sum(),
                 y=df['Actual'],
                 # hover_name=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name']
                 )

fig.show()

In [80]:
df2

                           Actual  Predicted  obs_ci_lower  obs_ci_upper
Datetime
2015-01-01 00:00:00-05:00     4.0  14.505092      2.790741     26.219442
2015-01-01 01:00:00-05:00     4.0  15.224404      3.510729     26.938079
2015-01-01 02:00:00-05:00     5.0  14.386070      2.672777     26.099362
2015-01-01 03:00:00-05:00    10.0  15.153938      3.440976     26.866901
2015-01-01 04:00:00-05:00     9.0  16.164925      4.451676     27.878173
...                           ...        ...           ...           ...
2020-11-12 19:00:00-05:00     4.0  44.979990     33.158411     56.801570
2020-11-12 20:00:00-05:00     4.0  44.989545     33.169542     56.809549
2020-11-12 21:00:00-05:00     3.0  40.215491     28.395390     52.035593
2020-11-12 22:00:00-05:00     4.0  39.499014     27.679140     51.318889
2020-11-12 23:00:00-05:00     2.0  38.938586     27.118702     50.758471

[50654 rows x 4 columns]

In [84]:
type(df2.index)

pandas.core.indexes.base.Index

In [82]:
df2.index  = df2.index.DatetimeIndex()

AttributeError: 'Index' object has no attribute 'DatetimeIndex'

In [ ]:
df2

In [45]:
df2.resample('M')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [43]:

fig = px.scatter(x=df['Datetime'].resample('Q').sum(),
                 y=df['Actual'],
                 # hover_name=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name']
                 )

fig.show()

KeyError: 'Datetime'